#about {
  /* transform-style: preserve-3d; */
}
.section-title {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: uppercase;
  /* margin: 0; */
}
.section-title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: coral;
}
.about-section .about-img .social-links {
  margin-top: 20px;
  text-align: center;
}
.social-links {
  margin-top: 20px;
  text-align: center;
}
.about-img {
  margin-top: 20px;
  text-align: center;
}
.about-img a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: var(--text-black-600);
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.about-section .about-img .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: white;
  /* color: var(--text-black-600); */
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  /* color: white; */
  color: var(--text-black-300);
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-links a:hover {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: white;
  /* color: var(--text-black-600); */
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-links a::after {
  border-radius: 50%;
}
.about-section .about-img .social-links a::after {
  border-radius: 50%;
}
#about-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* width: 60%; */
  height: 60%;
  border-radius: 10%;
}

.section-title h1 {
  position: absolute;
  z-index: 1;
  font-size: 100px;
  line-height: 1;
  opacity: 0.09;
  top: -30px;
  left: 0;
  margin-bottom: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  text-transform: capitalize;
  right: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: bold;
}
.section-title > span {
  color: #f15743;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.pos-rel {
  position: relative;
}
.about_blur {
  background: rgb(43 253 233 / 27%);
  width: 22rem;
  height: 30rem;
  left: 0;
  /* right: 0px; */
}

@media only screen and (max-width: 600px) {
  .about_blur {
    width: 12rem;
  }
}
