@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Lobster+Two:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima&display=swap");
:root {
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #17222b, -3px -3px 3px #1b2935;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #1d2933, -3px -3px 3px #0a101578;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #0a1015;
  /* background: white; */
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#140b25, #1f3341);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header section start  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.bg {
  /* background: #c8d8e4; */
  background: #0a1015;
  background-image: url(https://i.ibb.co/gFSYS5P/download.png);
  /* transform-style: preserve-3d; */
  color: white;
}
.head_container {
  min-height: 100vh;
  width: 100%;
  /* background-color: #c8d8e4; */
  background-color: #04283b;
  background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
  overflow-x: hidden;
  /* transform-style: preserve-3d; */
  margin: auto !important;
}

.stroke-text {
  color: transparent;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 4.5rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.head_navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 4rem;
}

.menu {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-family: "Lobster Two", cursive !important;
  font-weight: 700;
  color: #8babdb !important;
  text-decoration: none;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #8babdb;
  /* background-color: #eee; */
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  /* background-color: #eee; */
  background-color: #8babdb;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.header {
  min-height: 100vh;
  width: 100%;
  /* background: url("bg.jpg") no-repeat top center / cover; */
  position: relative;
  /* background-color: #c8d8e4; */
  background: #0a1015;
  background-image: url(https://i.ibb.co/gFSYS5P/download.png);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(43, 51, 59, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-size: 2.7rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}
.head_container.active {
  background-image: linear-gradient(135deg, #919aa5 0%, #000000 74%);
  position: fixed;
  z-index: 10;
}
.head_container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.head_container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.head_container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.head_container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arima", cursive;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  /* opacity: 0; */
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #fff;
}

.head_container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.head_container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.head_container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.head_container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.head_container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

@media screen and (max-width: 768px) {
  .menu {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
  }
  .head_container.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(30deg) translateZ(50px) scale(0.5);
  }

  @keyframes main-animation {
    from {
      transform: translate(0);
    }

    to {
      transform: perspective(1300px) rotateY(30deg) translateZ(50px) scale(0.5);
    }
  }

  .links {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
  }

  .links a {
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    /* opacity: 0; */
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
  }

  .links a:hover {
    color: #fff;
  }

  .head_container.active .links a {
    animation: appear 0.5s forwards ease var(--i);
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes hide {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  .shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: white;
  }

  .shadow.one {
    z-index: -1;
    opacity: 0.15;
  }

  .shadow.two {
    z-index: -2;
    opacity: 0.1;
  }

  .head_container.active .shadow.one {
    animation: shadow-one 0.6s ease-out;
    transform: perspective(1300px) rotateY(30deg) translateZ(45px) scale(0.5);
  }

  @keyframes shadow-one {
    0% {
      transform: translate(0);
    }

    5% {
      transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
      transform: perspective(1300px) rotateY(30deg) translateZ(45px) scale(0.5);
    }
  }

  .head_container.active .shadow.two {
    animation: shadow-two 0.6s ease-out;
    transform: perspective(1300px) rotateY(30deg) translateZ(40px) scale(0.5);
  }

  @keyframes shadow-two {
    0% {
      transform: translate(0);
    }

    20% {
      transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
      transform: perspective(1300px) rotateY(20deg) translateZ(40px) scale(0.5);
    }
  }

  .head_container.active .main:hover + .shadow.one {
    transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
  }

  .head_container.active .main:hover {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
  }
}

/* Header section end */

/* Hero section start  */
.blur {
  /* background: rgb(43 253 233 / 27%); */
  /* background: rgba(253, 120, 43, 0.69); */
  position: absolute;
  border-radius: 50%;
  filter: blur(200px);
  /* z-index: -9; */
}
.hero-blur {
  background: rgb(43 253 233 / 27%);
  width: 15rem;
  height: 30rem;
  left: 0;
  top: 0;
  z-index: 6;
}
.hero-blur1 {
  background: rgb(43 253 233 / 27%);
  width: 15rem;
  height: 30rem;
  right: 0;
  bottom: 0;
  z-index: 6;
}
.banner-logo {
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Lobster Two", cursive !important;
  color: #8babdb;
  padding-bottom: 10px;
}
.banner-skills {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #596cbb;
}
.banner-skills h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 700;
}
.skills {
  color: rgb(224, 84, 131);
}
.home-section {
  position: relative;
}
.hero-container {
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
  margin: auto !important;
  padding: 5rem 2rem;
}
/* .home-section .full-screen {
  padding: 50px 0;
  min-height: 100vh;
} */
.home-section .home-text,
.home-img {
  flex: 0 0 50%;
  max-width: 35%;
  padding: 0px;
}
.img-box {
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 15px;
}
.row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.img-box img {
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}
.inner-shadow {
  box-shadow: var(--inner-shadow);
}
.outer-shadow {
  box-shadow: var(--outer-shadow);
}
.btn-1 {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  color: rgba(57, 159, 243, 0.925);
  padding: 5px 20px;
  text-transform: capitalize;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
@media only screen and (max-width: 800px) {
  .btn-1 {
    font-size: 15px;
  }
  .row-1 {
    /* margin-top: 50px; */
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .hero-blur {
    width: 0rem !important;
  }
  .hero-blur1 {
    width: 10rem !important;
  }
  .home-section .full-screen {
    padding: 0 0;
    margin: 0 0;
  }
  .home-section,
  .home-img {
    max-width: 100%;
    padding: 20px 15px;
    z-index: 20;
    align-self: center;
    display: flex;
  }
  .home-text {
    align-self: center;
  }
  .home-section .home-img .img-box {
    /* max-width: 450px; */
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
  }
  .home-section .home-img .img-box img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
  }
  .home-section .full-screen {
    padding: 50px 0;
    min-height: 100vh;
  }
  .banner-logo {
    font-size: 40px;
    font-weight: 500;
    line-height: 56px;
    font-family: "Lobster Two", cursive !important;
    font-weight: 700;
    color: #8babdb;
  }
}
.btn-1::after {
  border-radius: 30px;
}
.hover-in-shadow {
  position: relative;
  z-index: 1;
}
.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.hover-in-shadow:hover::after {
  box-shadow: var(--inner-shadow);
}
/* Hero section end */

/* project section ---------------------------------------- */

.hero-section {
  align-items: flex-start;
  /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 540px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cards {
  list-style: none;
  position: relative;
}

.cards:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.cards__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.cards:hover .cards__background {
  transform: scale(1.05) translateZ(0);
}

.cards-grid:hover > .cards:not(:hover) .cards__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.cards__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.cards__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.cards__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  /* color: white; */
  color: var(--text-black-300);
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-links a:hover {
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: white;
  /* color: var(--text-black-600); */
  margin: 0 4px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.social-links a::after {
  border-radius: 50%;
}

/* Blogs css start  */
.c-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}
._cards {
  max-width: 500px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-color: #1a1a1ae3;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25) -5px -5px 30px 7px
    rgba(0, 0, 0, 0.22);
}
.cards__banner {
  position: relative;
  height: 18rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards__banner img {
  display: block;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.555);
  display: flex;
  align-items: center;
  /* height: 18rem; */
}
.c-background {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
  width: 100%;
}
.cards__poster {
  /* max-width: 130px; */
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  max-height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.cards__banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 0px 20px 0px;
  text-align: right;
  width: 116%;
}
.__content--title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #f3f3f3;
  margin-bottom: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
.__content--subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #d8d8d8;
  margin: 0;
}
.__content--btn {
  cursor: pointer;
  border: 1px solid rgb(90, 26, 26);
  background-color: transparent;
  border-radius: 5px;
  color: #d8d8d8;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  padding: 5px 10px;
  transition: all 0.6 ease;
}
.__content--btn:hover {
  color: rgb(130, 33, 33);
}
.__content--widgets {
  font-size: 40px;
}
.icons {
  cursor: pointer;
  margin-top: 10px;
  color: #d8d8d8;
  background-color: rgba(48, 48, 48, 0.658);
  padding: 10px;
  border-radius: 100%;
  transition: all 0.4s ease;
  overflow: visible;
}
.icon-span:hover {
  color: #d41515e3;
  background-color: rgba(48, 48, 48, 0.658);
}
/* .icons:hover {
  color: #d41515e3;
} */
.drop-rotate {
  transform: rotate(180deg);
}
.drop {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* .drop  */
#button-drop {
  display: block;
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(204, 204, 204, 0.179);
  transition: all 0.6s ease;
}
/* .drop  */
#button-drop:hover {
  color: rgb(230, 230, 320);
}
.button_drop {
  display: block;
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(204, 204, 204, 0.179);
  transition: all 0.6s ease;
}
/* .drop  */
.button_drop:hover {
  color: rgb(230, 230, 320);
}
.drop-active {
  height: 230px !important;
  overflow: auto;
}
.cards__description {
  height: 0;
  transition: all 0.6s ease;
}
.c-cards__description {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.cards__description__text h1 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #acacac;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #4d4d4d;
}
.cards__description__text p {
  font-size: 0.9rem;
  font-style: italic;
  text-align: justify;
  color: #a1a1a1;
}
.cards__description__img {
  display: flex;
  justify-content: flex-end;
}
.person {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  border: 1.5px solid #414141;
  transition: all 0.3s ease;
}
.person:hover {
  border-color: #d4d4d4;
}
.person img {
  position: absolute;
  top: -5px;
}
/* Blogs css end  */

/* contact section css start  */
.info {
  font-size: 20px;
  word-break: break-all;
}
/* contact section css end */
